.browserupgrade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f19a2a;
    text-align: center;
    z-index: 9999;
    color: #fff
}

.browserupgrade .tip {
    width: 900px;
    margin: 160px auto 40px;
    font-size: 24px
}

.browserupgrade .tip-author {
    width: 900px;
    margin: 0 auto 70px;
    text-align: right;
    font-style: italic;
    font-size: 24px
}

.browserupgrade a {
    display: block;
    width: 200px;
    border: 3px solid #fff;
    padding: 15px 10px;
    font-size: 25px;
    color: #fff
}

body {
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
    color: #494d55;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

.header {
    position: fixed;
    width: 100%;
    z-index: 30;
    height: 60px;
    padding: 10px 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.header.header-scrolled {
    padding: 0;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5)
}

.header.header-scrolled a {
    color: #494d55
}

.header.header-scrolled .logo {
    color: #f2b535;
    padding-top: 12px
}

.header.header-scrolled .main-nav .nav .nav-item a {
    color: #494d55
}

.header.header-scrolled .main-nav .nav .nav-item a:hover {
    color: #f2b535;
    background: rgba(0, 0, 0, .1)
}

.header.header-scrolled .main-nav .nav .nav-item.active a {
    color: #f2b535;
    border-bottom: 4px solid #f2b535
}

.header.header-scrolled .icon-bar {
    background-color: #000 !important
}

.header a {
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none
}

.header a:hover {
    text-decoration: none
}

.header .logo {
    margin: 0;
    display: inline-block;
    float: left;
    font-size: 28px;
    padding-top: 15px;
    font-family: Segoe UI Light
}

@media screen and (min-width: 800px) {
    padding-top:

5px

;
}

.header .logo .logo-icon-wrapper {
    margin-right: 3px;
    position: relative;
    display: inline-block;
    top: -3px
}

.header .logo .logo-icon {
    width: 30px;
    height: 30px
}

.header .logo .highlight {
    font-weight: 400
}

.main-nav {
    margin-top: 6px
}

.main-nav .navbar-toggle {
    margin-right: 0;
    margin-top: 0;
    background: none;
    position: absolute;
    right: 10px;
    top: 10px
}

.main-nav .navbar-toggle:focus {
    outline: none
}

.main-nav .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px
}

.main-nav .navbar-toggle:hover .icon-bar {
    background-color: #fff
}

.main-nav .nav .nav-item {
    font-weight: 400;
    font-size: 16px;
    margin-right: 20px
}

.main-nav .nav .nav-item.active a {
    background: none;
    color: #f2b535
}

.main-nav .nav .nav-item a {
    color: hsla(0, 0%, 100%, .65);
    font-weight: 400
}

.main-nav .nav .nav-item a:hover {
    color: #f2b535;
    background: none
}

.main-nav .nav .nav-item a:active, .main-nav .nav .nav-item a:focus {
    outline: none;
    background: none
}

.main-nav .nav .nav-item:last-child {
    margin-right: 0
}

.main-nav .nav.active {
    position: relative
}

.nav > li > a {
    padding-left: 5px;
    padding-right: 5px
}

.footer {
    padding: 30px 0;
    background: #26282c;
    color: hsla(0, 0%, 100%, .7)
}

.footer a {
    color: hsla(0, 0%, 100%, .4)
}

.footer .footer-links {
    margin: 0;
    padding: 0
}

.footer .footer-links h4 {
    font-size: 14px
}

.footer .footer-qr {
    margin-top: 20px;
    font-size: 12px
}

.footer .logo-wrapper {
    padding-left: 0;
    margin-top: 30px
}

.footer .logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    top: -10px
}

.footer .name {
    font-size: 30px;
    font-family: Segoe UI Light
}

.footer .slogan {
    font-size: 16px;
    margin-top: 5px;
    color: hsla(0, 0%, 100%, .4)
}

.footer .copyright {
    text-align: left;
    margin-top: 30px;
    color: hsla(0, 0%, 100%, .4)
}

.footer .links {
    text-align: left
}

.footer .links .link-title {
    display: inline-block;
    font-size: 14px
}

.footer .links .link-item {
    display: block;
    font-size: 14px;
    line-height: 24px
}

.footer .links .link-item:hover {
    color: #f2b535
}

.footer .qr-item {
    margin-top: 5px;
    text-align: center;
    padding: 0 2px
}

.footer .qr-item img {
    width: 120px;
    height: 120px
}

.footer .qr-item img:hover {
    position: relative;
    -webkit-transform: scale(2);
    transform: scale(2);
    z-index: 99
}

.footer .qr-item p {
    margin-top: 10px;
    color: gray
}

@media (max-width: 992px) {
    .footer-info {
        text-align: center
    }

    .footer-info .logo-wrapper {
        margin-top: 0
    }

    .footer-info .copyright {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px
    }

    .footer-links {
        display: none
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        border-top: none;
        box-shadow: none;
        width: 100%;
        left: 0;
        top: 60px;
        position: absolute;
        background: #26282c;
        z-index: 40
    }

    .header .main-nav .navbar-collapse .nav-item.active a {
        color: #f2b535
    }

    .header.header-scrolled .main-nav .navbar-collapse .nav-item.active a {
        border: none;
        color: #f2b535
    }

    .main-nav .navbar-collapse .nav-item {
        margin-right: 0
    }

    .main-nav .navbar-collapse .nav-item a {
        text-align: center
    }
}

.i-wrap {
    padding-bottom: 40px
}

.i-wrap .i-section-title {
    margin: 0 auto;
    font-size: 30px;
    padding: 20px 0;
    line-height: 1.5em
}

.i-wrap .i-content article {
    margin: 1em
}

.i-wrap .i-content article h3 {
    font-size: 24px;
    color: #4f4f4f
}

.i-wrap .i-content article p {
    color: #ccc
}

.i-main-title {
    text-align: center;
    line-height: 1.5em
}

.i-main-title .text span {
    font-family: Segoe UI Light, Microsoft YaHei, Arial, Helvetica, sans-serif;
    margin-right: 10px
}

.i-main-title .sub-title {
    display: block;
    font-size: 16px;
    color: #919191
}

.i-title {
    margin-bottom: 50px
}

.i-title .text {
    background-color: #4bbbfa;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400
}

.i-content, .i-section-title {
    width: 980px;
    margin: 0 auto
}

.i-more {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #fff;
    box-shadow: 6px 6px 0 #fff;
    width: 300px;
    cursor: pointer
}

.i-more, .i-more a {
    font-size: 14px;
    text-decoration: none
}

.i-more a {
    background-color: #e1e1e1;
    color: #616161;
    font-weight: 400
}

.i-more:hover {
    text-decoration: none;
    color: #fff
}

.i-foot-bottom {
    background-color: #212121
}

.foot-desc-wrap {
    width: 60%;
    float: left;
    padding-right: 30px
}

.foot-desc-wrap .info-list {
    float: right;
    margin-right: 40px
}

.foot-info-wrap {
    float: left;
    border-left: 4px solid #0c111d;
    padding-left: 30px;
    height: 80px
}

.info-list {
    font-size: 16px;
    text-align: left
}

.contact-list, .info-list {
    padding: 0;
    list-style: none
}

.clear:after {
    content: "";
    clear: both;
    display: block
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .nav-item a.hot, .nav-item a.hot:hover {
        background-image: -webkit-linear-gradient(left, #cddc39, #ff9800 25%, #cddc39 50%, #ff9800 75%, #cddc39) !important;
        -webkit-text-fill-color: transparent !important;
        -webkit-background-clip: text !important;
        -webkit-background-size: 200% 100% !important;
        -webkit-animation: masked-animation 2s infinite linear !important
    }

    .nav-item a.hot:hover {
        -webkit-animation: masked-animation 1s infinite linear !important
    }
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0
    }
    to {
        background-position: -100% 0
    }
}

.nav-item a.hot:before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
    left: -2px;
    width: 13px;
    height: 15px;
    background: url(../images/1.jpg) 50% no-repeat;
    background-size: 100% 100%
}

.carousel {
    margin-bottom: 40px
}

.carousel .carousel-indicators {
    margin-bottom: 0
}

.carousel .carousel-indicators li {
    width: 50px;
    padding: 5px 0;
    margin: 0 2px;
    opacity: .5;
    border: 0;
    background-color: inherit;
    height: auto
}

.carousel .carousel-indicators li:after {
    content: "";
    display: block;
    height: 4px;
    background-color: #fff;
    border-radius: 4px
}

.carousel .carousel-indicators li.active {
    opacity: 1
}

.carousel .carousel-indicators li:hover {
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1)
}

.carousel.show .item.active .hire-name, .carousel.show .item.active .hire-title, .carousel.show .item.active .tfc-top {
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    opacity: 1 !important;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0)
}

.carousel.show .item.active .tfc-bottom, .carousel.show .item.active .title-desc, .carousel.show .item.active .title-name {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    opacity: 1 !important;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}

.carousel .item {
    height: 500px;
    background: #175aa0 50%;
    background-size: cover
}

.carousel .item.item-tfc {
    background-image: url(../images/2.jpg)
}

.carousel .item.item-tfc .item-info {
    padding-top: 100px;
    font-family: Segoe UI Light, Segoe UI, Microsoft Jhenghei;
    text-shadow: 0 0 4px #000
}

.carousel .item.item-tfc .tfc-top {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%)
}

.carousel .item.item-tfc .tfc-bottom {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%)
}


.carousel .item.item-tfc .name-en {
    margin: 0 auto;
    font-size: 28px;
    letter-spacing: 5px
}

.carousel .item.item-tfc .address {
    font-size: 24px;
    padding-top: 20px
}

.carousel .item.item-0 {
    background-image: url(../images/3.jpg)
}

.carousel .item.item-0 .item-info .title-name {
    font-size: 60px;
    letter-spacing: 7px
}

.carousel .item.item-0 .item-info .title-desc {
    font-size: 34px
}

.carousel .item.item-0 .item-info #weeklyNum {
    display: none
}

.carousel .item.item-0 .item-info .weekly-num {
    color: #f2b535;
    padding: 0 5px
}

.carousel .item.item-1 {
    background-image: url(../images/4.jpg)
}

.carousel .item.item-2 {
    background-image: url(../images/5.jpg)
}

.carousel .item a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none
}

.carousel .item .hire-info {
    position: relative;
    height: 100%;
    font-family: STXihei, \\534E\6587\7EC6\9ED1, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in
}

.carousel .item .hire-name {
    position: absolute;
    bottom: 160px;
    font-size: 40px;
    color: hsla(0, 0%, 100%, .9);
    right: 60px;
    text-align: center;
    letter-spacing: 3px;
    line-height: 60px;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%)
}

.carousel .item .hire-title {
    position: absolute;
    bottom: 50px;
    font-size: 50px;
    color: hsla(0, 0%, 100%, .8);
    left: 50px;
    letter-spacing: 10px;
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%)
}

.carousel .item .item-info {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 180px;
    overflow: hidden;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in
}

.carousel .item .item-info .title-name {
    font-size: 70px;
    padding-bottom: 20px;
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%)
}

.carousel .item .item-info .title-desc {
    font-size: 40px;
    letter-spacing: 5px;
    opacity: 0;
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%)
}

.i-blog {
    background-color: #fff
}

.i-blog ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.i-blog .i-section-title {
    color: #fff
}

.i-blog .i-panel {
    border: 1px solid #e4ecf3;
    background-color: #fff;
    border-radius: 4px;
    min-height: 325px;
    margin-bottom: 10px
}

.i-blog .i-panel .blog-category {
    position: relative;
    z-index: 1;
    height: 70px;
    padding: 10px;
    padding-left: 80px;
    margin: 10px 0
}

.i-blog .i-panel .blog-category h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333
}

.i-blog .i-panel .blog-category h2:hover {
    color: #f2b535
}

.i-blog .i-panel .blog-category .category-icon {
    height: 60px;
    font-size: 32px;
    color: #d3d3d3;
    text-align: right;
    background-color: #fff;
    width: 60px;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 0
}

.i-blog .i-panel .blog-category .category-icon img {
    width: 100%
}

.i-blog .i-panel .blog-category .color1 {
    color: red
}

.i-blog .i-panel .blog-category .color2 {
    color: blue
}

.i-blog .i-panel .blog-category .color3 {
    color: #20bf5a
}

.i-blog .i-panel .blog-category .color4 {
    color: #cb0000
}

.i-blog .i-panel .blog-category .color5 {
    color: #069
}

.i-blog .i-panel .blog-category .color6 {
    color: #d3d3d3
}

.i-blog .i-panel .blog-category .category-name .desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #c1c1c1
}

.i-blog .i-panel a:hover {
    color: #f2b535;
    text-decoration: none
}

.i-blog .i-type-list {
    float: left;
    width: 50%
}

.i-blog .i-image-news {
    float: left;
    width: 35%;
    margin-top: 10px;
    padding: 0 10px;
    box-sizing: border-box
}

.i-blog .i-image-news li {
    position: relative;
    z-index: 1;
    margin-bottom: 10px
}

.i-blog .i-image-news li .i-head {
    height: 110px;
    overflow: hidden
}

.i-blog .i-image-news li .i-head img {
    width: 100%
}

.i-blog .i-image-news li .i-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0
}

.i-blog .i-image-news li .i-text h3 {
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 10px
}

.i-blog .i-text-news {
    margin-left: 15px;
    margin-top: 15px
}

.i-blog .i-text-news li {
    position: relative;
    z-index: 1;
    margin-bottom: 35px
}

.i-blog .i-text-news li h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #616161;
    padding-right: 2px
}

.i-blog .i-text-news li h4:hover {
    color: #f2b535
}

.i-blog .i-text-news li .i-author {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
    right: 10px;
    top: 0;
    color: #616161
}

.i-blog .i-head img {
    width: 100%
}

.i-blog .i-p-title {
    font-size: 16px;
    color: #616161;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0;
    margin: 0 10px;
    position: relative;
    z-index: 1
}

.i-blog .i-p-title .i-icon-more {
    position: absolute;
    right: 0;
    top: 15px
}

.i-blog .i-p-title .i-icon-more:after {
    font-size: 16px;
    font-family: arial, sans-serif;
    font-weight: 800;
    content: "..."
}

.i-blog .i-content article h3 {
    color: #00ace9
}

.i-project {
    background-color: #fff
}

.i-project a {
    text-decoration: none
}

.i-project .i-art-wrap {
    position: relative;
    padding: 20px 10px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 10px;
    transition: all .3s ease;
    overflow: hidden
}

.i-project .i-art-wrap:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5)
}

.i-project .i-art-wrap:hover .light {
    transition: all .3s ease;
    left: 100%
}

.i-project .i-art-wrap p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.i-project .i-art-wrap .i-ad-img {
    height: 60px;
    overflow: hidden;
    display: inline-block
}

.i-project .i-art-wrap .i-ad-img img {
    height: 100%
}

.i-project .i-art-wrap .light {
    cursor: pointer;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
    transform: skewx(-25deg);
    -o-transform: skewx(-25deg);
    -moz-transform: skewx(-25deg);
    -webkit-transform: skewx(-25deg)
}

.i-project .art1 {
    background-color: #70c3ff !important
}

.i-project .art2 {
    background-color: #fd6a7f !important
}

.i-project .art3 {
    background-color: #7f8ea0 !important
}

.i-project .art4 {
    background-color: #89d04f !important
}

.i-starrank {
    background-color: #fff
}

.i-starrank .i-section-title {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 24px
}

.i-starrank .i-star-wrap {
    background-color: #f5f8fa;
    border: 1px solid #e4ecf3;
    border-radius: 4px;
    text-align: center;
    transition: all .3s ease
}

.i-starrank .i-star-wrap:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .3)
}

.i-starrank .i-star-wrap .i-head {
    padding: 20px 10px
}

.i-starrank .i-star-wrap .i-head h3 {
    font-weight: 400;
    font-size: 18px;
    padding: 0 20px
}

.i-starrank .i-star-wrap .i-img-wrap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block
}

.i-starrank .i-star-wrap .i-img-wrap img {
    width: 100%
}

.i-starrank .i-star-wrap .desc {
    background-color: #fff;
    color: #919191;
    line-height: 60px;
    height: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px
}

.i-subject {
    background-color: #fff;
    position: relative;
    z-index: 1
}

.i-subject .row a {
    display: block;
    text-decoration: none;
    transition: all .3s ease
}

.i-subject .row a:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, .5)
}

.i-subject .row a:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.i-subject .i-subject-wrap {
    border: 1px solid #e4ecf3;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 10px
}

.i-subject .i-subject-wrap .i-desc {
    margin: 10px;
    color: #313131 !important;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.i-subject .i-subject-head {
    height: auto;
    overflow: hidden
}

.i-subject .i-subject-head img {
    width: 100%;
    -webkit-transition: -webkit-transform 1s
}

@media (max-width: 992px) {
    .carousel .item {
        height: 400px
    }

    .carousel .item .item-info {
        padding-top: 120px
    }

    .carousel .item .hire-name {
        width: 100%;
        right: 0;
        text-align: center
    }

    .carousel .item .hire-title {
        width: 100%;
        left: 0;
        text-align: center
    }

    .carousel .item.item-tfc .name {
        width: 840px;
        height: 70px
    }

    .carousel .item.item-tfc .tfc {
        width: 280px;
        height: 70px
    }

    .carousel .item.item-tfc .name-en {
        font-size: 24px
    }
}

@media (max-width: 767px) {
    .i-subject-wrap {
        text-align: left
    }

    .carousel .carousel-indicators {
        margin-bottom: 10px
    }

    .carousel .carousel-indicators li {
        width: 30px
    }

    .carousel .item {
        height: 250px
    }

    .carousel .item.item-0 .item-info {
        padding-top: 85px
    }

    .carousel .item.item-0 .item-info .title-name {
        font-size: 35px
    }

    .carousel .item.item-0 .item-info .title-desc {
        font-size: 20px
    }

    .carousel .item.item-tfc .item-info {
        padding-top: 75px
    }

    .carousel .item.item-tfc .name {
        width: 360px;
        height: 30px
    }

    .carousel .item.item-tfc .tfc {
        width: 160px;
        height: 40px
    }

    .carousel .item.item-tfc .name-en {
        display: none
    }

    .carousel .item.item-tfc .address {
        font-size: 16px;
        padding-top: 0
    }

    .carousel .item .item-info {
        padding-top: 75px
    }

    .carousel .item .item-info .title-name {
        font-size: 50px;
        padding-bottom: 0
    }

    .carousel .item .item-info .title-desc {
        font-size: 25px
    }

    .carousel .item .hire-name {
        bottom: 40px;
        font-size: 30px;
        line-height: 40px
    }

    .carousel .item .hire-title {
        display: none
    }
}

.sixopeninfo {
    text-align: center;
    width: 400px;
    margin: auto;
}

.i-art-wrap .sxnum {
    text-align: center
}

.sixopennum {
    border: 2px #ccc solid;
    width: 40px;
    height: 76px;
    float: left;
    text-align: center;
    margin: 5px;
}

.sixaddfh {
    width: 26px;
    height: 80px;
    float: left;
    text-align: center;
    margin: 5px 0px;
    line-height: 80px;
    font-size: 30px;
}

.sixopennum .num, .sixopennum .sx {
    width: 36px;
    height: 36px;
    line-height: 36px;
}

.i-art-wrap .red, .i-art-wrap .blue, .i-art-wrap .green {
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    float: left;
    margin-left: 10px;
    text-align: center
}

.sixopennum .red, .i-art-wrap .red {
    background-color: red;
    color: white;
}

.sixopennum .blue, .i-art-wrap .blue {
    background-color: blue;
    color: white;
}

.sixopennum .green, .i-art-wrap .green {
    background-color: green;
    color: white;
}

.i-more .red {
    color: red;
}

.i-head img {
    width: 335px;
    height: 335px;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .i-head img {
        width: 100%;
        height: 100%;
    }
}

.table4 {
    line-height: 40px;
}

.table4.font, .table4.sx {
    text-align: center;
}

.table4 span {
    padding: 5px;
    margin-left: 10px;
}

.bg_blue {
    background-color: blue;
    color: white
}

.bg_green {
    background-color: green;
    color: white
}

.font {
    text-align: center;
}

.bg_red {
    background-color: red;
    color: white
}