@charset "utf-8";

/* 起始样式 */
body {
    font-family: 微软雅黑;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    line-height: 22px;
    width: 100%;
    font-size: 14px;
    background: #f5f5f5;
    color: #4c4c4c;
}

ul, ul li, ol li, tr td, dl, dd {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
}

a {
    color: #4c4c4c;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

/*a:hover{ text-decoration:underline;}*/
img {
    vertical-align: middle;
}

.imgs {
    vertical-align: top;
}

.lf {
    float: left;
}

.rg {
    float: right;
}

img {
    border: none;
}

html {
    overflow-x: hidden;
    overflow: hidden;
}

.text, textarea, select {
    outline: none;
    font-family: 微软雅黑;
    color: #666;
    font-size: 12px;
    width: 100%;
}

.ul_lf li, .ul_js li {
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-input-placeholder {
    color: #ccc;
}

@font-face {
    font-family: Fontsstyle;
    src: url('../fonts/HelveticaNeueLTPro-Bd.ttf'),
    url('../fonts/HelveticaNeueLTPro-Bd.eot'),
    url('../fonts/HelveticaNeueLTPro-Bd.svg'),
    url('../fonts/HelveticaNeueLTPro-Bd.woff');
}

.moblie_exhi, .BMap_mask, .BMap_stdMpZoom, .BMap_stdMpPan, .BMap_cpyCtrl, .BMap_scaleTxt, .BMap_scaleCtrl, .BMap_omCtrl, .anchorBL, #ascrail2000-hr {
    display: none !important;
}

.a_txt, .nav_ipad, .moblie_head, .none {
    display: none;
}

.div_scroll {
    overflow: auto;
}

/*-webkit-filter: blur(0px); filter: blur(0px);*/
/*active*/
/* 公用样式 */
body {
    background: #000;
}

.bg {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: url(/static/member/images/lottery/bg.jpg) center top no-repeat;
    background-size: cover;
}

.dog {
    position: absolute;
    top: 10%;
    width: 28%;
    left: 15%;
    z-index: 100;
}

.dog img {
    width: 100%;
}

.reward {
    position: absolute;
    top: 0px;
    width: 10.67%;
    right: 23.07%;
}

.reward img {
    width: 100%;
}

.turntable {
    position: absolute;
    top: 2%;
    width: 32.08%;
    left: 33.96%;
}

.turntable .img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.1);
}

.jz {
    position: absolute;
    top: 37.5%;
    left: 36%;
    width: 24%;
    margin: 0 auto;
    text-align: center;
}

.jz img {
    width: 100%;
    vertical-align: top;
    padding-left: 9%;
}

.jz span {
    display: inline-block;
    width: 100%;
    line-height: 1.5rem;
    color: #f01501;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: 微软雅黑;
}

.btn {
    position: absolute;
    top: 50%;
    width: 11.45%;
    left: 44.275%;
}

.start, .stop {
    background: url(/static/member/images/lottery/1_07.png) center top no-repeat;
    display: block;
    width: 2.2rem;
    height: 0.55rem;
    background-size: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 0.52rem;
    font-size: 0.3rem;
    color: #fff;
    margin-top: 5%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

.btn_none {
    background: url(/static/member/images/lottery/1_07a.png) center top no-repeat;
    background-size: 100%;
}

.confirmbox {
    width: 35%;
    position: absolute;
    right: 32.5%;
    bottom: 2.5%;
}

.confirmbox .bg_img img {
    width: 100%;
    position: relative;
}

.confirmbox .box {
    position: absolute;
    top: 27%;
    left: 0px;
    width: 100%;
    text-align: center;
    color: #2a0901;
}

.confirmbox .box .title {
    color: #2a0901;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.27rem;
    font-weight: bold;
    margin-bottom: 1.5%;
}

.confirmbox .conbox {
    width: 100%;
    text-align: center;
}

.confirmbox .conbox p {
    display: inline-block;
    background: url(/static/member/images/lottery/1_06.png) center right no-repeat;
    background-size: 0.1rem;
    line-height: 0.37rem;
    padding-right: 3.5%;
    margin-right: 3.5%;
    font-size: 0.35rem;
    font-family: Arial, Helvetica, sans-serif;
}

.confirmbox .conbox .span {
    margin-right: 0px;
    padding-right: 0px;
    background: none;
}

.confirmbox .lucknum span {
    display: inline-block;
    background: url(/static/member/images/lottery/1_06.png) center right no-repeat;
    background-size: 0.1rem;
    line-height: 0.37rem;
    padding-right: 3.5%;
    margin-right: 3.5%;
    font-size: 0.35rem;
    font-family: Arial;
}

.confirmbox .lucknum .span {
    margin-right: 0px;
    padding-right: 0px;
    background: none;
}

.zjmd {
    position: absolute;
    bottom: 2.5%;
    max-height: 300px;
    overflow: hidden;
    width: 17%;
    left: 1%;
    background: #fff;
    border: 3px solid #ff9c5b;
    border-radius: 10px;
}

.zjmd .title {
    font-size: 20px;
    text-align: center;
    line-height: 0.36rem;
    padding-top: 5%;
    font-weight: bold;
}

.zjmd .div1 {
    margin-top: 5%;
    padding-left: 5%;
    position: relative;
}

.zjmd .div1 .p1a {
    margin-bottom: 0.7rem;
    font-size: 0.18rem;
    line-height: 0.3rem;
    font-weight: bold;
}

.zjmd .div2 div {
    background: #e00000;
    width: 0.3rem;
    height: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 5%;
    font-size: 0.18rem;
}

.zjmd .div2 .p10 {
    top: 0.4rem;
}

.zjmd .div2 .p9 {
    top: 1.4rem;
}

.zjmd .div2 .p8 {
    top: 1.4rem;
    left: 0.6rem;
}

.zjmd .div2 .p7 {
    top: 2.4rem;
}

.zjmd .div2 .p6 {
    top: 2.4rem;
    left: 0.6rem;
}

.zjmd .div2 .p5 {
    top: 2.4rem;
    left: 1.05rem;
}

.zjmd .div2 .p4 {
    top: 3.4rem;
}

.zjmd .div2 .p3 {
    top: 3.4rem;
    left: 0.6rem;
}

.zjmd .div2 .p2 {
    top: 3.4rem;
    left: 1.05rem;
}

.zjmd .div2 .p1 {
    top: 3.4rem;
    left: 1.5rem;
}

.zjmd #content p {
    background: #e00000;
    width: 0.3rem;
    height: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 5%;
    font-size: 0.18rem;
}

.zjmd #content .p10 {
    top: 0.4rem;
}

.zjmd #content .p9 {
    top: 1.4rem;
}

.zjmd #content .p8 {
    top: 1.4rem;
    left: 0.6rem;
}

.zjmd #content .p7 {
    top: 2.4rem;
}

.zjmd #content .p6 {
    top: 2.4rem;
    left: 0.6rem;
}

.zjmd #content .p5 {
    top: 2.4rem;
    left: 1.05rem;
}

.zjmd #content .p4 {
    top: 3.4rem;
}

.zjmd #content .p3 {
    top: 3.4rem;
    left: 0.6rem;
}

.zjmd #content .p2 {
    top: 3.4rem;
    left: 1.05rem;
}

.zjmd #content .p1 {
    top: 3.4rem;
    left: 1.5rem;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

.mylotterylist {
    position: absolute;
    bottom: 13.5%;
    max-height: 300px;
    overflow: hidden;
    width: 40%;
    left: 32%;
    background: #fff;
    border: 3px solid #ff9c5b;
    border-radius: 10px;
}

.mylotterylist .title {
    font-size: 20px;
    text-align: center;
    line-height: 43px;
    padding-top: 10px;
    font-weight: bold;
}

.mylotterylist .div1 {

    position: relative;
}

.mylotterylist .div1 .p1a {
    margin-bottom: 0.7rem;
    font-size: 0.18rem;
    line-height: 0.3rem;
    font-weight: bold;
}

.mylotterylist .div2 div {
    background: #e00000;
    width: 0.3rem;
    height: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 5%;
    font-size: 0.18rem;
}

.mylotterylist .div2 .p10 {
    top: 0.4rem;
}

.mylotterylist .div2 .p9 {
    top: 1.4rem;
}

.mylotterylist .div2 .p8 {
    top: 1.4rem;
    left: 0.6rem;
}

.mylotterylist .div2 .p7 {
    top: 2.4rem;
}

.mylotterylist .div2 .p6 {
    top: 2.4rem;
    left: 0.6rem;
}

.mylotterylist .div2 .p5 {
    top: 2.4rem;
    left: 1.05rem;
}

.mylotterylist .div2 .p4 {
    top: 3.4rem;
}

.mylotterylist .div2 .p3 {
    top: 3.4rem;
    left: 0.6rem;
}

.mylotterylist .div2 .p2 {
    top: 3.4rem;
    left: 1.05rem;
}

.mylotterylist .div2 .p1 {
    top: 3.4rem;
    left: 1.5rem;
}

.mylotterylist #content p {
    background: #e00000;
    width: 0.3rem;
    height: 0.3rem;
    color: #fff;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 100%;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 5%;
    font-size: 0.18rem;
}

.mylotterylist #content .p10 {
    top: 0.4rem;
}

.mylotterylist #content .p9 {
    top: 1.4rem;
}

.mylotterylist #content .p8 {
    top: 1.4rem;
    left: 0.6rem;
}

.mylotterylist #content .p7 {
    top: 2.4rem;
}

.mylotterylist #content .p6 {
    top: 2.4rem;
    left: 0.6rem;
}

.mylotterylist #content .p5 {
    top: 2.4rem;
    left: 1.05rem;
}

.mylotterylist #content .p4 {
    top: 3.4rem;
}

.mylotterylist #content .p3 {
    top: 3.4rem;
    left: 0.6rem;
}

.mylotterylist #content .p2 {
    top: 3.4rem;
    left: 1.05rem;
}

.mylotterylist #content .p1 {
    top: 3.4rem;
    left: 1.5rem;
}
