<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="renderer" content="webkit">
    <!--[if lte IE 9]>
    <script type="text/javascript" src="__STATIC__/market/ieold.js"></script>
    <script>IEOLd(10)</script>
    <![endif]-->
    <title>{$platform}</title>
    <link href="__STATIC__/market/main.ccde7ff2.css" rel="stylesheet">
    <script>
        window.oncontextmenu = function () {
            return false
        }
    </script>
</head>

<body>
<noscript>您的浏览器禁用了javascript，请手动开启</noscript>

<div id="root" mid="{$mid}" platform="{$platform}" mobile="{$mobile}"></div>
<script type="text/javascript" src="__STATIC__/market/main.4d467583.js"></script>
</body>

</html>