{extend name="$_admin_base_layout" /}

{block name="style"}
<link href="__STATIC__/libs/jstree/themes/default/style.min.css" rel="stylesheet" />
{/block}

{block name="content"}
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active">
                        <a href="#tab1">团队信息</a>
                    </li>
   
                    <li class="pull-right">
                        <ul class="block-options push-10-t push-10-r">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="close"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                    </li>
                </ul>

                <form name="form-builder" id="form" class="form-horizontal form-builder">
                    <div class="block-content tab-content"> 
 
                         <div class="tab-pane fade in active push-20" id="tab1">
                            <div class="row data-table-toolbar">
                                <div class="col-sm-12">
                                    <div class="toolbar-btn-action">
										<a class="btn btn-info" href="{$parents_url}"><i class="fa fa-arrow-up"></i>查看上一级</a>
                                        <button title="展开所有节点" type="button" class="btn btn-success" id="expand-all"><i class="fa fa-plus"></i> 展开所有节点</button>
                                        <button title="收起所有节点" type="button" class="btn btn-warning" id="collapse-all"><i class="fa fa-minus"></i> 收起所有节点</button>
                                        <button title="更新会员级别" type="button" class="btn btn-default" id="collapse-update"><i class="fa fa-refresh"></i> 更新会员级别</button>
                                        <button title="查看隐私信息" type="button" class="btn btn-info" id="privacy"><i class="fa fa-fw fa-refresh"></i> 查看隐私信息</button>
                                        <span class="form-inline">
                                        <input class="form-control" id="search-auth" onkeydown="if(event.keyCode === 13){return false;}" type="text" value="" placeholder="输入关键字搜索">
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div id="jstree" class="push">{$menus|raw}</div>
                        </div>
 
                        <div class="push-20">
							 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


<div class="layui-layer layui-layer-iframe layui-privacy" id="layui-layer1" type="iframe" times="1" showtime="0" contype="string"
     style="z-index: 19891015; width: 500px; height: 40%; top: 281px; left: 238px;display: none">
    <div class="layui-layer-title" style="cursor: move;">查看隐私信息</div>
    <div id="" class="layui-layer-content">
        <iframe scrolling="auto" allowtransparency="true" id="layui-layer-iframe1" name="layui-layer-iframe1" onload="this.className='';" class="" frameborder="0" src="/admin.php/member/index/privacy.html?_pop=1" style="height: 333px;">

        </iframe>
    </div>
    <span class="layui-layer-setwin">
        <a class="layui-layer-ico layui-layer-close layui-layer-close1" href="javascript:;"></a>
    </span>
    <span class="layui-layer-resize"></span>
</div>
{/block}

{block name="script"}
<script src="__STATIC__/libs/jstree/jstree.min.js"></script>
<script>
    $(document).ready(function(){
		
	  
	   $('#jstree').jstree({
            plugins: [ "search"],
            "checkbox" : {
                "keep_selected_style" : false,
                "three_state" : false,
                "cascade" : 'down+up'
            },
            "search" : {
                'show_only_matches' : true,
                'show_only_matches_children' : true
            }
        });


        var to = false;
        $('#search-auth').keyup(function () {
            if(to) { clearTimeout(to); }
            to = setTimeout(function () {
                var v = $('#search-auth').val();
                $('#jstree').jstree(true).search(v);
            }, 250);
        });
        // 全选
        $('#check-all').click(function () {
            $('#jstree').jstree(true).check_all();
        });
        // 取消全选
        $('#uncheck-all').click(function () {
            $('#jstree').jstree(true).uncheck_all();
        });
        // 展开所有
        $('#expand-all').click(function () {
            $('#jstree').jstree(true).open_all();
        });
        // 收起所有
        $('#collapse-all').click(function () {
            $('#jstree').jstree(true).close_all();
        });

        // 提交表单
        $('#form').submit(function () {
            var form_data = $(this).serialize();
            var auth_node = $('#jstree').jstree(true).get_checked();
            if (auth_node.length) {
                form_data += '&menu_auth='+auth_node.join(',');
            }
            $.post("{:url('')}", form_data).success(function (res) {
                if (res.code) {
                    Dolphin.notify(res.msg, 'success');
                    setTimeout(function () {
                        location.href = res.url;
                    }, 1500);
                } else {
                    Dolphin.notify(res.msg, 'danger');
                }
            }).fail(function () {
                Dolphin.notify('服务器发生错误~', 'danger');
            });
            return false;
        });
        
                // 更新等级
        $('#collapse-update').click(function () {
        	$.post("{:url('net_update')}", []).success(function (res) {
                //if (res.code) {
                    Dolphin.notify(res.msg, 'success');
                    setTimeout(function () {
                        location.href = res.url;
                    }, 1500);
                //} else {
                 //   Dolphin.notify(res.msg, 'danger');
                //}
            }).fail(function () {
                Dolphin.notify('服务器发生错误~', 'danger');
            });
        });
        $(document).ready(function() {
            // 初始隐藏弹窗
            $('.layui-privacy').hide();

            // 点击#privacy时显示带有layui-privacy类的div
            $('#privacy').click(function () {
                $('.layui-privacy').show();
            });

            // 监听关闭按钮的点击事件
            $('.layui-layer-close1').on('click', function() {
                // 隐藏弹窗
                $('.layui-privacy').hide();

                // 重新绑定显示弹窗的事件处理器
                $('#privacy').off('click').on('click', function () {
                    $('.layui-privacy').show();
                });
            });
        });
    });
</script>
{/block}
